h1 {
  text-align: center;
}

#title {
  padding-top: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
}

iframe {
  margin: 0 auto;
  max-width: 90vw;
  max-height: 50vh;
}


* {
  color-scheme: dark !important;
  font-family: arial;
 }

html {
	color-scheme: dark !important;
}
